<div class="page-section" id="countries">
    <div class="container">

      <div class="text-center">
          <h2><!-- TODO: Populate with JS --></h2>
      </div>

      <ul class="grid-list grid-list--vertically-center">
        <!-- TODO: Populate with JS -->
      </ul>
  </div>
</div>

<script src="/javascript/vendor/Sparql.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var api = new wikibase.queryService.api.Sparql();
    var query = 'SELECT ?item ?itemLabel WHERE {\n' +
                '   ?item p:P31 ?statement .\n' +
                '   ?statement ps:P31 wd:Q160016 .\n' +
                '   MINUS { ?statement pq:P582 ?end }      # no longer a country\n' +
                '   MINUS { ?item wdt:P1552 wd:Q47185282 } # not free\n' +
                '   SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }\n' +
                '}\n' +
                'ORDER BY ?itemLabel';

    function updateTitles(numberOfCountries) {
      $('html head title').html('EveryPolitician: Political data for ' + numberOfCountries + ' countries');
      $('#countries h2').html('Data from ' + numberOfCountries + ' countries');
    };

    function entityID(entityURI) {
      return entityURI.split('/').pop();
    };

    function populateCountries(countries) {
      var countriesUL = $('#countries ul')
      countriesUL.empty();

      $.each(countries, function(_, country) {
        countriesUL.append(
          '<li>' +
          '  <a class="avatar-unit" href="country/' + entityID(country.item) + '">' +
          '    <span class="avatar"><i class="fa fa-users"></i></span>' +
          '    <h3>' + country.itemLabel + '</h3>' +
          '  </a>' +
          '</li>'
        );
      });
    };

    api.query(query).done(function() {
      var countries = JSON.parse(api.getResultAsJson());
      updateTitles(countries.length);
      populateCountries(countries);
    });
  });
</script>
