<div class="page-section" id="countries">
    <div class="container">

      <div class="text-center">
          <h2><!-- TODO: Populate with JS --></h2>
      </div>

      <ul class="grid-list grid-list--vertically-center">
        <!-- TODO: Populate with JS -->
      </ul>
  </div>
</div>
