<ul class="unstyled-list">
  <li><a href="about.html">What is EveryPolitician?</a></li>
  <li><a href="contribute.html">How to contribute</a></li>
  <li>Technical details:</li>
  <li>
      <ul class="unstyled-list">
        <a href="technical.html">CSV and JSON</a></li>
        <li><a href="data_structure.html">Data structure</a></li>
        <li><a href="repo_structure.html">Getting most recent data</a></li>
        <li><a href="submitting.html">How we import data</a></li>
        <li><a href="scrapers.html">Writing a scraper</a></li>
      </ul>
  </li>
</ul>