<div class="container" id="about">
  <div class="page-section">

    <h1>About</h1>
    <p>
      Help us build a public list of all the world’s politicians, in a consistent format.
    </p>

    <h2 id="why">Why?</h2>

    <p>
      If data is in a consistent, structured format, it can be reused by
      developers everywhere. They don’t have waste time scraping data and
      converting it into a format they can use; instead, they can simply
      concentrate on making useful tools. And those tools can more easily be
      picked up, used and adapted to local needs anywhere in the world, saving
      everyone time and effort.
    </p>
    <p>
      We’re providing our data in the <a
      href="http://www.popoloproject.com">Popolo standard</a>. That’s a rich,
      expressive format, but when we add data to EveryPolitician we always use
      it in the same way. It’s because we’re always consistent about this that
      the same tools can work with EveryPolitician data from any country, for
      any country.
    </p>
    <p>
      And those tools can more easily be picked up, used and adapted to local
      needs anywhere in the world, saving everyone time and effort.
    </p>
    
    <h2>The data</h2>
    <p>
      To get EveryPolitician data, <a href="/">pick the country</a> and, where there's a
      choice, the <em>term</em> you want (for example, the current government).
      We show you the data on a web page, but you can also download it in two useful formats:
    </p>
    <ul>
      <li>
        <abbr title="comma separated value">CSV</abbr> format (great for spreadsheets)
      </li>
      <li>
        <abbr title="JavaScript Object Notation">JSON</abbr> in Popolo format (ideal for
          developers)
      </li>
    </ul>
    <p>
      Want more detail? Interested in building a web application or tool from
      scratch using this data? See the <a href="/technical.html">technical overview of
      EveryPolitician</a>.
    </p>  

    <h2>How can I add or correct information?</h2>

    <p>See our handy guide to <a href="/contribute.html">contributing</a>.

    <h2 id="what-next">What next?</h2>

    <p>The data can also be used in bigger projects, such as making it
    easy to <a href="http://sayit.poplus.org/">track what those politicians say</a>, or
    <a href="http://www.cargografias.org/">visualise their political careers</a>, or
    for citizens to <a href="http://writeit.poplus.org/">send public messages to them</a>. </p>

    <p>As data becomes available from more countries, all in the same format,
    more and more tools will become possible.</p>

    <h2 id="find-out-more">Find out more</h2>

    <p>EveryPolitician is a <a href="http://www.poplus.org/">Poplus</a> project. Drop by
    our <a href="https://groups.google.com/forum/#!forum/poplus">friendly mailing list</a> 
    to ask questions or just to say hello.</p>
  </div>
</div>
