<div class="container" id="about">
  <div class="page-section">

    <h1>About</h1>
    <p>Help us build a publicly available, distributed, open list of all the
    world’s politicians, in a standardised format. </p>

    <h2 id="why">Why?</h2>

    <p>Because, if data is in a standard structured format, it can be reused by
    developers everywhere. They don’t have waste time scraping data and
    converting it into a format they can use; instead, they can simply
    concentrate on making useful tools. </p>

    <p>And those tools can more easily be picked up, used and adapted to local
    needs anywhere in the world, saving everyone time and effort.</p>

    <p>That standardised format is <a href="http://www.popoloproject.com/">Popolo</a>, the
    new data standard for politicians’ details.</p>

    <h2 id="how-do-i-get-involved">How can I add or correct information?</h2>

    <p>See our handy guide to <a href="/contribute.html">contributing</a>.

    <h2 id="what-next">What next?</h2>

    <p>The data can also be used in bigger projects, such as making it
    easy to <a href="http://sayit.poplus.org/">track what those politicians say</a>, or
    <a href="http://www.cargografias.org/">visualise their political careers</a>, or
    for citizens to <a href="http://writeit.poplus.org/">send public messages to them</a>. </p>

    <p>As data becomes available from more countries, all in the same format,
    more and more tools will become possible.</p>

    <h2 id="find-out-more">Find out more</h2>

    <p>EveryPolitician is a <a href="http://www.poplus.org/">Poplus</a> project. Drop by
    our <a href="https://groups.google.com/forum/#!forum/poplus">friendly mailing list</a> 
    to ask questions or just to say hello.</p>
  </div>
</div>
