<div class="container" id="contribute">
  <div class="page-section">

    <h1>We need your help</h1>

    <p>EveryPolitician is an ambitious project. If we’re to succeed in
    our aim of collecting and sharing data on every elected official
    in the entire world, we need help from people like you.</p>

    <p>Right now, we’re concentrating on making sure we have current data
    on the national legislatures for every country in the world. </p>

    <h2>If your country is missing</h2>

    <p>Do you know where to find politician data for a country that we
    don’t presently cover? We want to hear about it!</p>

    <p><b>If you already have Popolo format data for your country’s
    politicians:</b> That's fantastic. We might need to adjust it
    slightly to adhere to our own use of Popolo, but once we’ve made
    those adjustments we’ll add it to the growing <a
    href="/countries.html">list</a>.</p>

    <p><b>Or, if you have a spreadsheet or CSV file:</b> We have tools
    that will probably convert that quite easily — so send it over and
    we’ll see what we can do.</p>

    <p><b>If you have the information in another format:</b> Talk to us
    — we’ll see if we can help convert it.</p>

    <p><b>If you know where to find data, or can put us in touch with
    another group who might be able to help:</b> We're eager to know
    that too.</p>

    <p>Email us at <a href="mailto:team@everypolitician.org">team@everypolitician.org</a>.</p>

    <h2>If you see an error in the data</h2>

    <p>Found something incorrect in the data we’re currently displaying on the site?</p>

    <p>We’re working on building tools to let you edit the data directly, 
    but in the meantime, if you see an error that should be corrected, 
    email us at <a href="mailto:team@everypolitician.org">team@everypolitician.org</a>.</p>

    <p>Please include evidence for your proposed change — a link to an
    official source, where possible.</p>

    <h2>If there are gaps in the data</h2>

    <p>At this early stage, we’re focusing on making sure we have basic
    information about the current legislators in every country: names,
    political parties and the areas they represent. Please help us gather
    that if you can.</p>

    <p>Covering every current legislature is our primary goal right now,
    but it’s always great when we can obtain past information too. See,
    for example, <a href="/greenland/">the data for Greenland</a>, which
    contains data on every Member since the formation of its current
    Parliament in 1979.</p>

    <h2>Looking for different data?</h2>

    <p>In this initial phase, we’re only collecting information about <a
    href="https://en.wikipedia.org/wiki/List_of_legislatures_by_country">country-level
    Parliaments and Congresses</a>. Eventually we hope that much more than
    this will be available, but having every national legislature would be a
    great first step.</p>
  </div>
</div>
