<div class="container" id="contribute">
  <div class="page-section">
    <div class="row">
      <div class="column-one-quarter">
         <%= erb :about_nav_menu %>
      </div>
      <div class="column-three-quarters">
        <h1>We need your help</h1>

        <p>EveryPolitician is an ambitious project. If we’re to succeed in
        our aim of collecting and sharing data on every elected official
        in the entire world, we need help from people like you.</p>

        <p>Right now, we’re concentrating on making sure we have current data
        on the national legislatures for every country in the world. </p>

        <h2>If your country is missing</h2>

        <p>Do you know where to find politician data for a country that we
        don’t presently cover? We want to hear about it!</p>

        <p>If you already have the data, and want us to import it, have a look 
        at our <a href="/submitting.html">Submitting data</a> page, for details 
        on our preferred formats, etc.</p>

        <p>Or, if you can put us in touch with a group who has this, or even
        just know where we can find it in a reasonable well-structured for,
        send us an email: <a
        href="mailto:team@everypolitician.org">team@everypolitician.org</a>.</p>

        <h2>If you see an error in the data</h2>

        <p>Found something incorrect in the data we’re currently displaying on the site?</p>

        <p>We’re working on building tools to let you edit the data directly, 
        but in the meantime, if you see an error that should be corrected, 
        email us at <a href="mailto:team@everypolitician.org">team@everypolitician.org</a>.</p>

        <p>Please include evidence for your proposed change — a link to an
        official source, where possible.</p>

        <h2>If there are gaps in the data</h2>

        <p>At this early stage, we’re focusing on making sure we have basic
        information about the current legislators in every country: names,
        contact details, political parties, and the areas they represent. 
        Please help us gather that if you can.</p>

        <p>Covering every current legislature is our primary goal right now,
        but it’s always great when we can obtain past information too. See,
        for example, <a href="/greenland/">the data for Greenland</a>, which
        contains data on every Member since the formation of its current
        Parliament in 1979.</p>

        <h2>Looking for different data?</h2>

        <p>In this initial phase, we’re only collecting information about <a
        href="https://en.wikipedia.org/wiki/List_of_legislatures_by_country">country-level
        Parliaments and Congresses</a>. Eventually we hope that much more than
        this will be available, but having every national legislature would be a
        great first step.</p>
      </div>
    </div>
  </div>
</div>