<div class="container" id="contribute">
  <div class="page-section">

    <h1>Help Us</h1>
    <p>We need your help to build and maintain this data.</p>

    <h2 id="error">If you see an error in the data</h2>

    <p>If you see something that’s incorrect, out-of-date, or simply missing, in the data we’re currently displaying on the site, then please
    let us know.  We’re working on building tools to let you edit the data directly, but in the meantime, simply email us at
    <a href="mailto:team@everypolitician.org">team@everypolitician.org</a> and we’ll fix it.</p>

    <h2 id="error">If your country is missing</h2>

    <p>If you already have Popolo format data for your country’s
    politicians, let us know, and we’ll add it to the growing <a href="/">list</a>.</p>

    <p>Or, if you can create a CSV file (for example, by exporting it from a
    spreadsheet) with that information, we have tools that will probably convert 
    that quite easily —  and let’s see if it we can get it uploaded.</p>

    <p>If you have the information in another format, and would like assistance
    converting it to Popolo, talk to us, and we’ll see if we can help. </p>

    <h2 id="which-politicians-do-you-care-about">Which politicians do you care about?</h2>

    <p>Initially we’re only collecting information about 
    <a href="http://en.wikipedia.org/wiki/List_of_legislatures_by_country">country-level Parliaments and Congresses</a>.
    Eventually we hope that much more than this will be available, but we
    think that getting every national legislature would be a great first
    step.</p>

    <h2 id="what-information-about-them-do-you-want">What information about them do you want?</h2>

    <p>Popolo lets you express lots of complex information about your
    politicians and their history. If you have the time and skills to put
    lots of that together, then great! The UK data, for example, lists 
    <a href="https://parliament.popit.mysociety.org/persons/">every Member of Parliament for the last 100 years</a>. </p>

    <p>But for now we’re simply focussed on getting basic information about the
    current legislators in every country. Even if you can only provide their
    names, political parties, and areas they represent, that’s plenty. Part
    of the beauty of Popolo is that it’s easy to add more complex data at
    any stage, and we’ll be encouraging people to do just that later.</p>
  </div>
</div>
