<div class="container" id="country_missing">
  <div class="page-section">
    <h2>Sorry!</h2>
    <p>We haven’t got data for <%= @page.missing[:displayName] %> yet. Here’s how to <a href="http://docs.everypolitician.org/contribute.html">help us find it</a>.</p>
  </div>
</div>
