<select class="field js-select-to-autocomplete" placeholder="Search by country name" name="Country" id="country-selector" autofocus="autofocus" autocorrect="off" autocomplete="off">
    <option value="" selected="selected">Select Country</option>
  <% @page.world.sort_by { |_, country| country[:displayName] }.each do |slug, country| %>
    <option value="<%= slug %>" data-alternative-spellings="<%= country[:allNames] %>" title="<%= commify(country[:totalPeople]) %> <% if country[:totalPeople] == 1 %>person<% else %>people<% end %>"><%= country[:displayName] %></option>
  <% end %>
</select>
