<select class="field js-select-to-autocomplete" placeholder="Search by country name" name="Country" id="country-selector" autofocus="autofocus" autocorrect="off" autocomplete="off">
    <option value="" selected="selected">Select Country</option>
    <option value="AF" data-alternative-spellings="AF">Afghanistan</option>
    <option value="AX" data-alternative-spellings="AX Aaland Aland">Åland Islands</option>
    <option value="AL" data-alternative-spellings="AL">Albania</option>
    <option value="DZ" data-alternative-spellings="DZ">Algeria</option>
    <option value="AS" data-alternative-spellings="AS">American Samoa</option>
    <option value="AD" data-alternative-spellings="AD">Andorra</option>
    <option value="AO" data-alternative-spellings="AO">Angola</option>
    <option value="AI" data-alternative-spellings="AI">Anguilla</option>
    <option value="AQ" data-alternative-spellings="AQ">Antarctica</option>
    <option value="AG" data-alternative-spellings="AG">Antigua And Barbuda</option>
    <option value="AR" data-alternative-spellings="AR">Argentina</option>
    <option value="AM" data-alternative-spellings="AM">Armenia</option>
    <option value="AW" data-alternative-spellings="AW">Aruba</option>
    <option value="AU" data-alternative-spellings="AU">Australia</option>
    <option value="AT" data-alternative-spellings="AT Österreich Osterreich Oesterreich ">Austria</option>
    <option value="AZ" data-alternative-spellings="AZ">Azerbaijan</option>
    <option value="BS" data-alternative-spellings="BS">Bahamas</option>
    <option value="BH" data-alternative-spellings="BH">Bahrain</option>
    <option value="BD" data-alternative-spellings="BD">Bangladesh</option>
    <option value="BB" data-alternative-spellings="BB">Barbados</option>
    <option value="BY" data-alternative-spellings="BY">Belarus</option>
    <option value="BE" data-alternative-spellings="BE België Belgie Belgien Belgique">Belgium</option>
    <option value="BZ" data-alternative-spellings="BZ">Belize</option>
    <option value="BJ" data-alternative-spellings="BJ">Benin</option>
    <option value="BM" data-alternative-spellings="BM">Bermuda</option>
    <option value="BT" data-alternative-spellings="BT">Bhutan</option>
    <option value="BO" data-alternative-spellings="BO">Bolivia</option>
    <option value="BQ" data-alternative-spellings="BQ">Bonaire, Sint Eustatius and Saba</option>
    <option value="BA" data-alternative-spellings="BA">Bosnia and Herzegovina</option>
    <option value="BW" data-alternative-spellings="BW">Botswana</option>
    <option value="BV" data-alternative-spellings="BV">Bouvet Island</option>
    <option value="BR" data-alternative-spellings="BR Brasil">Brazil</option>
    <option value="IO" data-alternative-spellings="IO">British Indian Ocean Territory</option>
    <option value="BN" data-alternative-spellings="BN">Brunei Darussalam</option>
    <option value="BG" data-alternative-spellings="BG">Bulgaria</option>
    <option value="BF" data-alternative-spellings="BF">Burkina Faso</option>
    <option value="BI" data-alternative-spellings="BI">Burundi</option>
    <option value="KH" data-alternative-spellings="KH">Cambodia</option>
    <option value="CM" data-alternative-spellings="CM">Cameroon</option>
    <option value="CA" data-alternative-spellings="CA">Canada</option>
    <option value="CV" data-alternative-spellings="CV">Cape Verde</option>
    <option value="KY" data-alternative-spellings="KY">Cayman Islands</option>
    <option value="CF" data-alternative-spellings="CF">Central African Republic</option>
    <option value="TD" data-alternative-spellings="TD">Chad</option>
    <option value="CL" data-alternative-spellings="CL">Chile</option>
    <option value="CN" data-alternative-spellings="CN Zhongguo Zhonghua Peoples Republic">China</option>
    <option value="CX" data-alternative-spellings="CX">Christmas Island</option>
    <option value="CC" data-alternative-spellings="CC">Cocos (Keeling) Islands</option>
    <option value="CO" data-alternative-spellings="CO">Colombia</option>
    <option value="KM" data-alternative-spellings="KM">Comoros</option>
    <option value="CG" data-alternative-spellings="CG">Congo</option>
    <option value="CD" data-alternative-spellings="CD">Congo, the Democratic Republic of the</option>
    <option value="CK" data-alternative-spellings="CK">Cook Islands</option>
    <option value="CR" data-alternative-spellings="CR">Costa Rica</option>
    <option value="CI" data-alternative-spellings="CI Cote dIvoire">Côte d'Ivoire</option>
    <option value="HR" data-alternative-spellings="HR Hrvatska">Croatia</option>
    <option value="CU" data-alternative-spellings="CU">Cuba</option>
    <option value="CW" data-alternative-spellings="CW Curacao">Curaçao</option>
    <option value="CY" data-alternative-spellings="CY">Cyprus</option>
    <option value="CZ" data-alternative-spellings="CZ Česká Ceska">Czech Republic</option>
    <option value="DK" data-alternative-spellings="DK Danmark">Denmark</option>
    <option value="DJ" data-alternative-spellings="DJ">Djibouti</option>
    <option value="DM" data-alternative-spellings="DM">Dominica</option>
    <option value="DO" data-alternative-spellings="DO">Dominican Republic</option>
    <option value="EC" data-alternative-spellings="EC">Ecuador</option>
    <option value="EG" data-alternative-spellings="EG">Egypt</option>
    <option value="SV" data-alternative-spellings="SV">El Salvador</option>
    <option value="GQ" data-alternative-spellings="GQ">Equatorial Guinea</option>
    <option value="ER" data-alternative-spellings="ER">Eritrea</option>
    <option value="EE" data-alternative-spellings="EE Eesti">Estonia</option>
    <option value="ET" data-alternative-spellings="ET">Ethiopia</option>
    <option value="FK" data-alternative-spellings="FK">Falkland Islands (Malvinas)</option>
    <option value="FO" data-alternative-spellings="FO Føroyar Færøerne">Faroe Islands</option>
    <option value="FJ" data-alternative-spellings="FJ">Fiji</option>
    <option value="FI" data-alternative-spellings="FI Suomi">Finland</option>
    <option value="FR" data-alternative-spellings="FR République française">France</option>
    <option value="GF" data-alternative-spellings="GF">French Guiana</option>
    <option value="PF" data-alternative-spellings="PF">French Polynesia</option>
    <option value="TF" data-alternative-spellings="TF">French Southern Territories</option>
    <option value="GA" data-alternative-spellings="GA">Gabon</option>
    <option value="GM" data-alternative-spellings="GM">Gambia</option>
    <option value="GE" data-alternative-spellings="GE">Georgia</option>
    <option value="DE" data-alternative-spellings="DE Bundesrepublik Deutschland">Germany</option>
    <option value="GH" data-alternative-spellings="GH">Ghana</option>
    <option value="GI" data-alternative-spellings="GI">Gibraltar</option>
    <option value="GR" data-alternative-spellings="GR">Greece</option>
    <option value="GL" data-alternative-spellings="GL grønland">Greenland</option>
    <option value="GD" data-alternative-spellings="GD">Grenada</option>
    <option value="GP" data-alternative-spellings="GP">Guadeloupe</option>
    <option value="GU" data-alternative-spellings="GU">Guam</option>
    <option value="GT" data-alternative-spellings="GT">Guatemala</option>
    <option value="GG" data-alternative-spellings="GG">Guernsey</option>
    <option value="GN" data-alternative-spellings="GN">Guinea</option>
    <option value="GW" data-alternative-spellings="GW">Guinea-Bissau</option>
    <option value="GY" data-alternative-spellings="GY">Guyana</option>
    <option value="HT" data-alternative-spellings="HT">Haiti</option>
    <option value="HM" data-alternative-spellings="HM">Heard Island and McDonald Islands</option>
    <option value="VA" data-alternative-spellings="VA">Holy See (Vatican City State)</option>
    <option value="HN" data-alternative-spellings="HN">Honduras</option>
    <option value="HK" data-alternative-spellings="HK">Hong Kong</option>
    <option value="HU" data-alternative-spellings="HU">Hungary</option>
    <option value="IS" data-alternative-spellings="IS Island">Iceland</option>
    <option value="IN" data-alternative-spellings="IN">India</option>
    <option value="ID" data-alternative-spellings="ID">Indonesia</option>
    <option value="IR" data-alternative-spellings="IR">Iran, Islamic Republic of</option>
    <option value="IQ" data-alternative-spellings="IQ">Iraq</option>
    <option value="IE" data-alternative-spellings="IE Éire">Ireland</option>
    <option value="IM" data-alternative-spellings="IM">Isle of Man</option>
    <option value="IL" data-alternative-spellings="IL">Israel</option>
    <option value="IT" data-alternative-spellings="IT Italia">Italy</option>
    <option value="JM" data-alternative-spellings="JM">Jamaica</option>
    <option value="JP" data-alternative-spellings="JP Nippon Nihon">Japan</option>
    <option value="JE" data-alternative-spellings="JE">Jersey</option>
    <option value="JO" data-alternative-spellings="JO">Jordan</option>
    <option value="KZ" data-alternative-spellings="KZ">Kazakhstan</option>
    <option value="KE" data-alternative-spellings="KE">Kenya</option>
    <option value="KI" data-alternative-spellings="KI">Kiribati</option>
    <option value="KP" data-alternative-spellings="KP North Korea">Korea, Democratic People's Republic of</option>
    <option value="KR" data-alternative-spellings="KR South Korea">Korea, Republic of</option>
    <option value="KW" data-alternative-spellings="KW">Kuwait</option>
    <option value="KG" data-alternative-spellings="KG">Kyrgyzstan</option>
    <option value="LA" data-alternative-spellings="LA">Lao People's Democratic Republic</option>
    <option value="LV" data-alternative-spellings="LV">Latvia</option>
    <option value="LB" data-alternative-spellings="LB">Lebanon</option>
    <option value="LS" data-alternative-spellings="LS">Lesotho</option>
    <option value="LR" data-alternative-spellings="LR">Liberia</option>
    <option value="LY" data-alternative-spellings="LY">Libyan Arab Jamahiriya</option>
    <option value="LI" data-alternative-spellings="LI">Liechtenstein</option>
    <option value="LT" data-alternative-spellings="LT">Lithuania</option>
    <option value="LU" data-alternative-spellings="LU">Luxembourg</option>
    <option value="MO" data-alternative-spellings="MO">Macao</option>
    <option value="MK" data-alternative-spellings="MK">Macedonia, The Former Yugoslav Republic Of</option>
    <option value="MG" data-alternative-spellings="MG">Madagascar</option>
    <option value="MW" data-alternative-spellings="MW">Malawi</option>
    <option value="MY" data-alternative-spellings="MY">Malaysia</option>
    <option value="MV" data-alternative-spellings="MV">Maldives</option>
    <option value="ML" data-alternative-spellings="ML">Mali</option>
    <option value="MT" data-alternative-spellings="MT">Malta</option>
    <option value="MH" data-alternative-spellings="MH">Marshall Islands</option>
    <option value="MQ" data-alternative-spellings="MQ">Martinique</option>
    <option value="MR" data-alternative-spellings="MR">Mauritania</option>
    <option value="MU" data-alternative-spellings="MU">Mauritius</option>
    <option value="YT" data-alternative-spellings="YT">Mayotte</option>
    <option value="MX" data-alternative-spellings="MX Mexicanos">Mexico</option>
    <option value="FM" data-alternative-spellings="FM">Micronesia, Federated States of</option>
    <option value="MD" data-alternative-spellings="MD">Moldova, Republic of</option>
    <option value="MC" data-alternative-spellings="MC">Monaco</option>
    <option value="MN" data-alternative-spellings="MN">Mongolia</option>
    <option value="ME" data-alternative-spellings="ME">Montenegro</option>
    <option value="MS" data-alternative-spellings="MS">Montserrat</option>
    <option value="MA" data-alternative-spellings="MA">Morocco</option>
    <option value="MZ" data-alternative-spellings="MZ">Mozambique</option>
    <option value="MM" data-alternative-spellings="MM">Myanmar</option>
    <option value="NA" data-alternative-spellings="NA">Namibia</option>
    <option value="NR" data-alternative-spellings="NR">Nauru</option>
    <option value="NP" data-alternative-spellings="NP">Nepal</option>
    <option value="NL" data-alternative-spellings="NL Holland Nederland">Netherlands</option>
    <option value="NC" data-alternative-spellings="NC">New Caledonia</option>
    <option value="NZ" data-alternative-spellings="NZ">New Zealand</option>
    <option value="NI" data-alternative-spellings="NI">Nicaragua</option>
    <option value="NE" data-alternative-spellings="NE">Niger</option>
    <option value="NG" data-alternative-spellings="NG">Nigeria</option>
    <option value="NU" data-alternative-spellings="NU">Niue</option>
    <option value="NF" data-alternative-spellings="NF">Norfolk Island</option>
    <option value="MP" data-alternative-spellings="MP">Northern Mariana Islands</option>
    <option value="NO" data-alternative-spellings="NO Norge Noreg">Norway</option>
    <option value="OM" data-alternative-spellings="OM">Oman</option>
    <option value="PK" data-alternative-spellings="PK">Pakistan</option>
    <option value="PW" data-alternative-spellings="PW">Palau</option>
    <option value="PS" data-alternative-spellings="PS">Palestinian Territory, Occupied</option>
    <option value="PA" data-alternative-spellings="PA">Panama</option>
    <option value="PG" data-alternative-spellings="PG">Papua New Guinea</option>
    <option value="PY" data-alternative-spellings="PY">Paraguay</option>
    <option value="PE" data-alternative-spellings="PE">Peru</option>
    <option value="PH" data-alternative-spellings="PH">Philippines</option>
    <option value="PN" data-alternative-spellings="PN">Pitcairn</option>
    <option value="PL" data-alternative-spellings="PL">Poland</option>
    <option value="PT" data-alternative-spellings="PT">Portugal</option>
    <option value="PR" data-alternative-spellings="PR">Puerto Rico</option>
    <option value="QA" data-alternative-spellings="QA">Qatar</option>
    <option value="RE" data-alternative-spellings="RE Reunion">Réunion</option>
    <option value="RO" data-alternative-spellings="RO">Romania</option>
    <option value="RU" data-alternative-spellings="RU Russia Rossiya">Russian Federation</option>
    <option value="RW" data-alternative-spellings="RW">Rwanda</option>
    <option value="BL" data-alternative-spellings="BL">Saint Barthélemy</option>
    <option value="SH" data-alternative-spellings="SH">Saint Helena</option>
    <option value="KN" data-alternative-spellings="KN">Saint Kitts and Nevis</option>
    <option value="LC" data-alternative-spellings="LC">Saint Lucia</option>
    <option value="MF" data-alternative-spellings="MF">Saint Martin (French Part)</option>
    <option value="PM" data-alternative-spellings="PM">Saint Pierre and Miquelon</option>
    <option value="VC" data-alternative-spellings="VC">Saint Vincent and the Grenadines</option>
    <option value="WS" data-alternative-spellings="WS">Samoa</option>
    <option value="SM" data-alternative-spellings="SM">San Marino</option>
    <option value="ST" data-alternative-spellings="ST">Sao Tome and Principe</option>
    <option value="SA" data-alternative-spellings="SA">Saudi Arabia</option>
    <option value="SN" data-alternative-spellings="SN">Senegal</option>
    <option value="RS" data-alternative-spellings="RS">Serbia</option>
    <option value="SC" data-alternative-spellings="SC">Seychelles</option>
    <option value="SL" data-alternative-spellings="SL">Sierra Leone</option>
    <option value="SG" data-alternative-spellings="SG">Singapore</option>
    <option value="SX" data-alternative-spellings="SX">Sint Maarten (Dutch Part)</option>
    <option value="SK" data-alternative-spellings="SK">Slovakia</option>
    <option value="SI" data-alternative-spellings="SI">Slovenia</option>
    <option value="SB" data-alternative-spellings="SB">Solomon Islands</option>
    <option value="SO" data-alternative-spellings="SO">Somalia</option>
    <option value="ZA" data-alternative-spellings="ZA">South Africa</option>
    <option value="GS" data-alternative-spellings="GS">South Georgia and the South Sandwich Islands</option>
    <option value="SS" data-alternative-spellings="SS">South Sudan</option>
    <option value="ES" data-alternative-spellings="ES España">Spain</option>
    <option value="LK" data-alternative-spellings="LK">Sri Lanka</option>
    <option value="SD" data-alternative-spellings="SD">Sudan</option>
    <option value="SR" data-alternative-spellings="SR">Suriname</option>
    <option value="SJ" data-alternative-spellings="SJ">Svalbard and Jan Mayen</option>
    <option value="SZ" data-alternative-spellings="SZ">Swaziland</option>
    <option value="SE" data-alternative-spellings="SE Sverige">Sweden</option>
    <option value="CH" data-alternative-spellings="CH Swiss Confederation Schweiz Suisse Svizzera Svizra">Switzerland</option>
    <option value="SY" data-alternative-spellings="SY Syria">Syrian Arab Republic</option>
    <option value="TW" data-alternative-spellings="TW">Taiwan, Province of China</option>
    <option value="TJ" data-alternative-spellings="TJ">Tajikistan</option>
    <option value="TZ" data-alternative-spellings="TZ">Tanzania, United Republic of</option>
    <option value="TH" data-alternative-spellings="TH">Thailand</option>
    <option value="TL" data-alternative-spellings="TL">Timor-Leste</option>
    <option value="TG" data-alternative-spellings="TG">Togo</option>
    <option value="TK" data-alternative-spellings="TK">Tokelau</option>
    <option value="TO" data-alternative-spellings="TO">Tonga</option>
    <option value="TT" data-alternative-spellings="TT">Trinidad and Tobago</option>
    <option value="TN" data-alternative-spellings="TN">Tunisia</option>
    <option value="TR" data-alternative-spellings="TR Türkiye Turkiye">Turkey</option>
    <option value="TM" data-alternative-spellings="TM">Turkmenistan</option>
    <option value="TC" data-alternative-spellings="TC">Turks and Caicos Islands</option>
    <option value="TV" data-alternative-spellings="TV">Tuvalu</option>
    <option value="UG" data-alternative-spellings="UG">Uganda</option>
    <option value="UA" data-alternative-spellings="UA Ukrayina">Ukraine</option>
    <option value="AE" data-alternative-spellings="AE UAE Emirates">United Arab Emirates</option>
    <option value="GB" data-alternative-spellings="GB Great Britain England UK Wales Scotland Northern Ireland">United Kingdom</option>
    <option value="US" data-alternative-spellings="US USA United States of America">United States</option>
    <option value="UM" data-alternative-spellings="UM">United States Minor Outlying Islands</option>
    <option value="UY" data-alternative-spellings="UY">Uruguay</option>
    <option value="UZ" data-alternative-spellings="UZ">Uzbekistan</option>
    <option value="VU" data-alternative-spellings="VU">Vanuatu</option>
    <option value="VE" data-alternative-spellings="VE">Venezuela</option>
    <option value="VN" data-alternative-spellings="VN">Vietnam</option>
    <option value="VG" data-alternative-spellings="VG">Virgin Islands, British</option>
    <option value="VI" data-alternative-spellings="VI">Virgin Islands, U.S.</option>
    <option value="WF" data-alternative-spellings="WF">Wallis and Futuna</option>
    <option value="EH" data-alternative-spellings="EH">Western Sahara</option>
    <option value="YE" data-alternative-spellings="YE">Yemen</option>
    <option value="ZM" data-alternative-spellings="ZM">Zambia</option>
    <option value="ZW" data-alternative-spellings="ZW">Zimbabwe</option>
</select>