<div class="hero hero--jazzy">
    <div class="container">
        <h1>404 – Page Not Found</h1>
    </div>
</div>

<div class="page-section">
    <div class="container centered">
        <p class="lead">We couldn’t find that page.</p>
        <p class="fourohfour-suggestions">
            <a href="/" class="button button--primary">Go home</a>
            <span class="fourohfour-suggestions__or">or</span>
            <a href="/countries.html" class="button button--secondary">Show all countries</a>
        </p>
    </div>
</div>
