<div id="home">
    <h1>PopIt-Viewer</h1>
    <p>This is a simple demo site for viewing PopIt data</p>

    <ul>
      <% @countries.sort.each do |c| %>
        <li><a href="/<%= c %>/"><%= c.capitalize %></a></li>
      <% end %>
    </ul>
</div>
