<div class="page-section" id="home">
    <div class="container">
        <ul class="grid-list">
          <% @countries.sort_by { |c| c[:name] }.each do |c| %>
            <li>
                <a class="avatar-unit" href="/<%= c[:url] %>/">
                    <span class="avatar"><i class="fa fa-users"></i></span>
                    <h3><%= c[:name] %></h3>
                </a>
            </li>
          <% end %>
        </ul>
        <a class="button button--download" style="float:right" href="<%= @cjson %>">
          <i class="fa fa-download"></i>
          <span class="large-screen-only">JSON</span>
        </a>
        
    </div>
</div>
