<div class="hero hero--destination-200">
    <div class="container row">
        <h1>Destination 200</h1>
        <p class="lead">We <strong>more</strong> than did it &mdash; we passed our target for GLOW&nbsp;2015!</p>
        <a href="https://www.mysociety.org/2015/09/07/how-quickly-can-we-get-to-200-countries-on-every-politician/" class="button button--secondary">See how you can (still) help &raquo;</a>
    </div>
</div>