<div class="page-section" id="term">
  <div class="container text-center">
    <h1><span class="avatar"><i class="fa fa-university"></i></span> <%= @page.house.name %></h1>
  </div>

  <div class="container">
    <h2>With</h2>
      <ol>
        <% @page.people_with_wikidata.each do |p| %>
          <li><%= p.name %> <%= wikidata_link(p) %></li>
        <% end %>
      </ol>
    <h2>Without</h2>
      <ol>
        <% @page.people_without_wikidata.each do |p| %>
          <li><%= p.name %></li>
        <% end %>
      </ol>
  </div>
</div>
