<div class="container" id="home">
    <div class="hero">
        <h1>We’re cataloguing every politician in <%= @country.capitalize %>!</h1>
        <p class="lead">View the <a href="/<%= @country %>/term_table">current term</a>.
        </p>
    </div>
</div>
