<div class="hero hero--jazzy text-center">
    <div class="container">
        <h1 class="homepage-hero__headline"><%= @countries.length %> countries of data (so far)</h1>
        <p class="homepage-hero__subheading"><label for="homepage-search">Find representatives in your country</label></p>
        <input class="homepage-hero__search-input" id="homepage-search" type="search" placeholder="Search by country name">
    </div>
</div>

<div class="page-section">
    <div class="container">
        <h2>What is EveryPolitician?</h2>
        <p>Blah blah blah. Blah blah blach blah blah. Blah blah blah. Blah blah blah blah.</p>
        <p>Blah blah blah blah blah blah. Blah blah blah. Blah blah blah blah.</p>

        <h2>Contribute your data</h2>
        <p>Blah blah blah blah blah blah. Blah blah blah. Blah blah blah.</p>
    </div>
</div>
