<div class="hero hero--jazzy text-center homepage-hero">
    <div class="container">
        <h1><%= @countries.length %> countries of data (so far)</h1>
        <p><label for="country-selector">Find representatives in your country</label></p>
        <%= erb :country_selector %>
    </div>
    <div class="homepage-map"></div>
</div>

<div class="page-section">
    <div class="container">
        <h2>What is EveryPolitician?</h2>
        <p>Blah blah blah. Blah blah blach blah blah. Blah blah blah. Blah blah blah blah.</p>
        <p>Blah blah blah blah blah blah. Blah blah blah. Blah blah blah blah.</p>

        <h2>Contribute your data</h2>
        <p>Blah blah blah blah blah blah. Blah blah blah. Blah blah blah.</p>
    </div>
</div>

<script type="text/javascript">
$(function(){
  var countryCodes = {}
  <% @countries.each do |country| %>
    countryCodes['<%= country[:code] %>'] = 'rgba(255,255,255,0.5)'
  <% end %>

  $('.homepage-map').vectorMap({
    map: 'world_mill_en',
    backgroundColor: 'transparent',
    zoomOnScroll: false,
    zoomButtons: false,
    panOnDrag: false,
    regionStyle: {
      initial: {
        "fill": "rgba(255,255,255,0.3)",
        "fill-opacity": 1,
      },
      hover: {
        "fill-opacity": 1,
        "cursor": "default"
      }
    },
    hoverColor: false,
    zoomMin: 4,
    series: {
      regions: [{
        values: countryCodes,
        attribute: 'fill'
      }]
    },
    onRegionTipShow: function(e, $label, regionCode){
      e.preventDefault();
    }
  });
});
</script>