<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,400italic" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="/javascript/main.js"></script>
    <title><%= @page_title ||= "EveryPolitician" %></title>
</head>
<body>
    <div id="wrapper">

        <div class="ms-header">
            <nav class="ms-header__row">
                <div class="ms-header__logo">
                    <a href="http://www.mysociety.org">mySociety</a>
                </div>
            </nav>
        </div>

        <header class="site-header">
            <div class="container">
                <div class="site-header__logo">
                    <h2>
                      <% if @country %>
                        <a href="/<%= @country[:url] %>/"><%= @country[:name] %></a>
                      <% else %>
                        EveryPolitician
                      <% end %>
                    </h2>
                </div>
                <div class="site-header__navigation site-header__navigation--primary">
                    <nav role="navigation">
                      <% if @country %>
                        <a href="http://everypolitician.org">EveryPolitician</a>
                      <% end %>
                    </nav>
                </div>
                <div class="site-header__navigation site-header__navigation--secondary">
                    <nav role="navigation">
                        <a href="/">Data</a>
                        <a href="http://everypolitician.org/about">About</a>
                    </nav>
                </div>
            </div>
        </header>

        <div class="site-content">
            <%= yield %>
        </div>

        <footer class="site-footer ms-footer">
            <div class="container">
                <div class="column-five-twelfths">
                    <div class="footer__about">
                        <h2 class="ms-footer__logo"><a href="http://www.mysociety.org">mySociety</a></h2>
                        <p>EveryPolitician is another project from the awesome people at mySociety.</p>
                        <p>You might also want to check out <a href="http://mapit.poplus.org/">MapIt</a>, which makes dealing with geographic boundaries a breeze, and <a href="http://sayit.poplus.org/">SayIt</a>, a beautiful interface for organising, reading, and searching speeches and debates.</p>
                    </div>
                </div>
                <div class="column-seven-twelfths">
                </div>
            </div>
        </footer>

    </div>
</body>
</html>

