<div class="hero hero--jazzy text-center homepage-hero">
    <div class="container">
        <h1><%= @countries.length %> countries of data (so far)</h1>
        <p><label for="country-selector">Find representatives in your country</label></p>
        <%= erb :country_selector %>
    </div>
</div>

<div class="page-section">
    <div class="container">
        <h2>What is EveryPolitician?</h2>
        <p>Blah blah blah. Blah blah blach blah blah. Blah blah blah. Blah blah blah blah.</p>
        <p>Blah blah blah blah blah blah. Blah blah blah. Blah blah blah blah.</p>

        <h2>Contribute your data</h2>
        <p>Blah blah blah blah blah blah. Blah blah blah. Blah blah blah.</p>
    </div>
</div>
