<% if @parties %>

    <div class="page-section" id="parties">
        <div class="container">
            <h1>Parties</h1>
            <ul>
              <% @parties.sort_by { |p| p['name'] }.each do |p| %>
                <li><a href="<%= party_url(p) %>"><%= p['name'] %></a></li>
              <% end %>
            </ul>
        </div>
    </div>

<% else %>

    <div class="hero">
        <div class="container">
            <h1>Oh no!</h1>
            <p>There are no parties in this country’s dataset.</p>
        </div>
    </div>

    <div class="page-section page-section--grey text-center">
        <div class="container" style="max-width: 26em;">
            <h3>Is this your data?</h3>
            <p><strong>You can fix this problem</strong> by making sure your data is represented according to the Popolo standard. Blah blah blah blah, blah blah blah.</p>
            <a href="#" class="button button--small">Find out more</a>
        </div>
    </div>

<% end %>
