<% if @parties %>

    <div class="page-section" id="parties">
        <div class="container">
            <h1>Parties</h1>
            <ul class="avatar-list">
              <% @parties.sort_by { |p| p['name'] }.each do |p| %>
                <li>
                    <a href="<%= party_url(p) %>">
                        <span class="avatar"><i class="fa fa-users"></i></span>
                        <span class="label"><%= p['name'] %></span>
                    </a>
                </li>
              <% end %>
            </ul>
        </div>
    </div>

<% else %>

    <div class="hero">
        <div class="container">
            <h1>Oh no!</h1>
            <p>There are no parties in this country’s dataset.</p>
        </div>
    </div>

    <div class="page-section page-section--grey text-center">
        <div class="container" style="max-width: 26em;">
            <h3>Is this your data?</h3>
            <p><strong>You can fix this</strong> by adding a <tt>classification</tt> of <tt>party</tt> to all relevant Organizations.</p>
            <p>For example:
            <p><pre>
{
      "name": "Centre Party",
      "classification": "party",
}</pre>
            </p>
            <a href="/help/popolo" class="button button--small">Find out more</a>
        </div>
    </div>

<% end %>
