<div class="page-section" id="party">
    <div class="container">
        <h1><%= @party['name'] %></h1>

      <% if @memberships %>
        <h3>Members</h3>
        <ul class="grid-list">
          <% @memberships.each do |m| %>
            <li>
                <a class="avatar-unit" href="<%= person_url(m['person']) %>">
                    <span class="avatar"><i class="fa fa-user"></i></span>
                    <h3><%= m['person']['name'] %></h3>
                </a>
            </li>
          <% end %>
        </ul>
      <% else %>
        <h3>No members</h3>
      <% end %>
    </div>
</div>
