<% if @people %>

    <div class="page-section" id="people">
        <div class="container">
            <h1>People</h1>
            <ul class="avatar-list">
              <% @people.sort_by { |p| p['name'] }.each do |p| %>
                <li>
                    <a href="<%= person_url(p) %>">
                        <span class="avatar"><i class="fa fa-user"></i></span>
                        <span class="label"><%= p['name'] %></span>
                    </a>
                </li>
              <% end %>
            </ul>
        </div>
    </div>

<% else %>

    <div class="hero">
        <div class="container">
            <h1>Oh no!</h1>
            <p>There are no people in this country’s dataset.</p>
        </div>
    </div>

<% end %>
