<div class="hero hero--jazzy">
    <div class="container">
        <h1><%= @page_title %></h1>
    </div>
</div>

<div class="page-section">
    <div class="container centered">
        <p class="lead">Redirecting to <a href="http://docs.everypolitician.org/<%= @filename %>">docs.everypolitician.org</a></p>
        <p class="fourohfour-suggestions">
            <a href="/" class="button button--primary">Go home</a>
            <span class="fourohfour-suggestions__or">or</span>
            <a href="http://docs.everypolitician.org/<%= @filename %>" class="button button--secondary">Load page</a>
        </p>
    </div>
</div>
