<div class="page-section" id="home">
    <div class="container">
        <ul class="grid-list grid-list--vertically-center">
          <% @page.world.sort_by { |k, _| k }.each do |k, v| %>
            <li>
                <a class="avatar-unit" href="/<%= k %>/">
                    <span class="avatar"><i class="fa fa-users"></i></span>
                    <h3><%= v[:displayName] %></h3>
                </a>
            </li>
          <% end %>
        </ul>
        <p><a href="/needed.html">What's needed?</a></p>
        <p><a href="/404.html">404</a></p>
        <p>
          Redirections:
          <a href="/about.html">about</a>,
          <a href="/contribute.html">contribute</a>,
          <a href="/data_structure.html">data_structure</a>,
          <a href="/data_summary.html">data_summary</a>,
          <a href="/repo_structure.html">repo_structure</a>,
          <a href="/scrapers.html">scrapers</a>,
          <a href="/submitting.html">submitting</a>,
          <a href="/technical.html">technical</a>,
          <a href="/use_the_data.html">use_the_data</a>
        </p>
    </div>
</div>
