<div class="container" id="contribute">
  <div class="page-section">
    <div class="row">
      <div class="column-one-quarter">
         <%= erb :about_nav_menu %>
      </div>
      <div class="column-three-quarters">
        <h1>How We Import Data</h1>

        <p class="section-intro">EveryPolitician exists to share politicians' data &mdash; but
          before we can put it out, we have to get it in. Our general requirements
          for importing data are described on this page.
        </p>
        <p>
          Read on if you
          have a data set you think we could use, or if you're one of
          the wonderful people who's thinking of
          <a href="scrapers.html">writing a scraper</a> for us.
          </p>
          
        <p><strong>Our preferred format for data that we are importing is simple comma-separated value (CSV).</strong></p>

        <p>At a minimum this should have fields for:</p>

        <ul>
          <li><code>id</code>, or <code>identifier__<em>xxx</em></code>: a unique identifier for the politician
              <p>
                We add a unique <code>id</code> to every politician we import into EveryPolitician
                (it's a <a href="https://en.wikipedia.org/wiki/Universally_unique_identifier">UUID</a>, and
                if we know two records are for the same politician, we give them both the same <code>id</code>).
                If you provide your own <code>id</code>, we can use it to identify the politician
                <em>during</em> the import, but it will be overwritten with ours.
              </p>
              <p>
                However, if that ID would be useful in the EveryPolitician data
                because it maps to some external data set, you can make it
                persist by using the name <code>identifier__<em>xxx</em></code>
                (note: two underscores), where <code><em>xxx</em></code>
                indicates the local ID scheme it is from. Our import mechanism
                treats this like another <code>id</code>, that is, recognises
                that it's a unique identifier (albeit perhaps with local scope,
                such as its country).
              </p>
              <p>
                For example, in the UK, parliament allocates a unique ID to all
                politicians within their own system, called <a
                href="https://en.wikipedia.org/wiki/Parliamentary_Information_Management_System">PIMS</a>,
                so when we import that data, we add that ID as
                <code>identifier__pims</code> in the CSV to import. That will be
                combined with other IDs from other sources (if any — in the
                example below, we've added Wikidata too, as
                <code>identifier__wikidata</code>), and ultimately it appears
                in the JSON as an (<code>identifier</code>,
                <code>scheme</code>) pair. Here's an extract from a JSON Popolo
                file showing how it ultimately appears within a person's entry:
              </p>
              <pre>
"id": "e09079a7-6609-4fe8-93b4-bd499637e130",
"identifiers": [
  {
    "identifier": "4734",
    "scheme": "pims"
  },
  {
    "identifier": "Q258473",
    "scheme": "wikidata"
  }
],
              </pre>
              </p>
          </li>
          <li><tt>name</tt>: their name</li>
          <li><tt>area</tt>: the <a href="https://en.wikipedia.org/wiki/Electoral_district">constituency/district</a> they represent (if appropriate)</li>
          <li><tt>group</tt>: the <a href="https://en.wikipedia.org/wiki/Parliamentary_group">party or faction</a> they’re part of (if appropriate)</li>
          <li><tt>term</tt>: the legislative period this membership represents (e.g. ‘19’ for the Nineteenth Assembly)</li>
          <li><tt>start_date</tt>: if the person joined later than the start of the term</li>
          <li><tt>end_date</tt>: if they left before the end of the term</li>
		  <li><tt>source</tt>:
			  the URL of the main source for this information (for example, if
			  this data has been scraped from a single page or API call for this person
			  then that's ideal; but if it's just an entry on a page listing many
			  politicians, then that page's URL is fine)
		  </li>
        </ul>

        <p>If you have data for multiple legislative periods (and the more the
        better!) these can either be included in the same file, or provided
        in a single file per per term.</p>

        <p>If someone changed party/faction affilation in the middle of the
        term, you should include two entries, with the relevant start/end
        dates set. For example:</p>

        <table border="1">
          <tr>
            <th>id</th>
            <th>name</th>
            <th>area</th>
            <th>group</th>
            <th>term</th>
            <th>start_date</th>
            <th>end_date</th>
            <th>source</th>
          </tr>
          <tr>
            <td>1681</td>
            <td>Joe Smith</td>
            <td>Easthill</td>
            <td>White Party</td>
            <td>19</td>
            <td></td>
            <td>2011-04-14</td>
            <td>http://example.com/jsmith</td>
          </tr>
          <tr>
            <td>1681</td>
            <td>Joe Smith</td>
            <td>Easthill</td>
            <td>Black Party</td>
            <td>19</td>
            <td>2011-04-14</td>
            <td></td>
            <td>http://example.com/jsmith</td>
          </tr>
        </table> 

        <p>Other fields we can automatically process include:</p>

        <ul>
          <li><tt>given_name</tt></li>
          <li><tt>family_name</tt></li>
          <li><tt>honorific_prefix</tt></li>
          <li><tt>honorific_suffix</tt></li>
          <li><tt>patronymic_name</tt></li>
          <li><tt>sort_name</tt></li>
          <li><tt>email</tt></li>
          <li><tt>phone</tt></li>
          <li><tt>fax</tt></li>
          <li><tt>cell</tt></li>
          <li><tt>gender</tt></li>
          <li><tt>birth_date</tt></li>
          <li><tt>death_date</tt></li>
          <li><tt>image</tt></li>
          <li><tt>summary</tt></li>
          <li><tt>national_identity</tt></li>
          <li><tt>twitter</tt></li>
          <li><tt>facebook</tt></li>
          <li><tt>blog</tt></li>
          <li><tt>flickr</tt></li>
          <li><tt>instagram</tt></li>
          <li><tt>wikipedia</tt></li>
          <li><tt>website</tt></li>
        </ul>

        <p>Ideally you would publish this file somewhere online, and keep it
        updated with changes, but if that’s too much work, we’ll happily
        accept a one-time file (perhaps with occasional later updates).
        Either way, we’re happy to chat first about what will be easiest for
        both you and us! Just drop us an email to <a
        href="mailto:team@everypolitician.org">team@everypolitician.org</a>,
        and let’s get more data released!</p>

      </div>
    </div>
  </div>
</div>
