<div class="page-section page-section--survey">
    <div class="container">
        <h2>Could you use more information about this&nbsp;country’s politicians and what they do?</h2>
        <p>EveryPolitician is growing fast! Help us prioritise: what data would be useful for you?</p>
        <p><a href="https://docs.google.com/a/mysociety.org/forms/d/e/1FAIpQLSfgbY8kwTbmqtDmKWb1WxkkPaMh0PCVks2-K3rYQc-M7RaLww/viewform?entry.134750093=<%= URI.escape(@page.country.name) %>" class="button button--secondary button--small" target="_blank">Tell us now</a></p>
    </div>
</div>

