
#terms
  %h1 Terms

  - if @terms
    %ul
      - @terms.sort_by { |t| t['start_date'] }.reverse.each do |t|
        %li <a href="#{ term_url(t) }">#{t['name']}</a>
  - else
    <p>Not using terms</p>

