<% unless @terms.count.zero? %>

    <div class="page-section" id="terms">
        <div class="container">
            <h1>Terms</h1>
            <ul class="grid-list">
              <% @terms.sort_by { |t| t['start_date'] }.reverse.each do |t| %>
                <li>
                    <a class="avatar-unit" href="<%= term_url(t) %>">
                        <span class="avatar"><i class="fa fa-university"></i></span>
                        <h3><%= t['name'] %></h3>
                        <% unless t['start_date'].to_s.empty? and t['end_date'].to_s.empty? %>
                          <p><%= t['start_date'] %> - <%= t['end_date'] %></p>
                        <% end %>
                    </a>
                </li>
              <% end %>
            </ul>
        </div>
    </div>

<% else %>

    <div class="hero">
        <div class="container">
            <h1>Oh no!</h1>
            <p>There are no terms in this country’s dataset.</p>
        </div>
    </div>

    <div class="page-section page-section--grey text-center">
        <div class="container" style="max-width: 26em;">
            <h3>Is this your data?</h3>
            <p><strong>You can fix this</strong> by adding a <tt>term</tt> list to the legislature. For example:</p>
            <p><pre>
{
  "name": "Eduskunta",
  "classification": "legislature",
  "terms": [
    {
      "id": "term/35",
      "name": "Eduskunta 35 (2007)",
      "start_date": "2007-03-21",
      "end_date": "2011-04-19",
    },
    {
      "id": "term/36",
      "name": "Eduskunta 36 (2011)",
      "start_date": "2011-04-20",
    }
  ]
}</pre>
            </p>
            <a href="/help/popolo" class="button button--small">Find out more</a>
        </div>
    </div>

<% end %>
