@mixin clearfix {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }
}

@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

@mixin border-top-radius($radius) {
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
    border-bottom-right-radius: $radius;
    border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
    border-bottom-left-radius: $radius;
    border-top-left-radius: $radius;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}

@mixin flex-align($alignment) {
  -webkit-box-align: $alignment;
  -webkit-align-items: $alignment;
  -ms-flex-align: $alignment;
  align-items: $alignment;
}

@mixin flex-wrap($wrap) {
  -moz-box-wrap: $wrap;
  -webkit-box-wrap: $wrap;
  -webkit-flex-wrap: $wrap;
  -ms-flexbox-wrap: $wrap;
  flex-wrap: $wrap;
}

// Based on http://foundation.zurb.com/sites/docs/v/5.5.3/components/global.html
@mixin css-triangle($triangle-size, $triangle-color, $triangle-direction) {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: inset $triangle-size;
  margin-bottom: ($triangle-size / 2) * -1;

  @if ($triangle-direction == down) {
    border-color: $triangle-color transparent transparent transparent;
    border-top-style: solid;
  }

  @if ($triangle-direction == up) {
    border-color: transparent transparent $triangle-color transparent;
    border-bottom-style: solid;
  }

  @if ($triangle-direction == left) {
    border-color: transparent transparent transparent $triangle-color;
    border-left-style: solid;
  }

  @if ($triangle-direction == right) {
    border-color: transparent $triangle-color transparent transparent;
    border-right-style: solid;
  }
}

.image-replacement {
    overflow: hidden;
    text-indent: -1000%;
    white-space: nowrap;
}

.centered {
    text-align: center;
}

.two-column-text {
  @media (min-width: $large_screen) {
        -webkit-columns: 20em 2;
           -moz-columns: 20em 2;
                columns: 20em 2;
        -webkit-column-gap: 1.5em;
           -moz-column-gap: 1.5em;
                column-gap: 1.5em;
        p {
            -webkit-column-break-inside: avoid;
                      page-break-inside: avoid;
                           break-inside: avoid;
        }
    }
}
