.site-header {
    background-color: $colour_white;
    color: $colour_black;
    padding: 1em 0 0;
    border-bottom: 1px solid $colour_borders;
    text-align: center;

    @media (min-width: $large_screen) {
        padding: 1em 0 0.5em 0;
    }

    @media (min-width: $large_screen) and (min-height: 600px) {
        padding: 1.5em 0 0.75em 0;
    }

    @media (min-width: $large_screen) and (min-height: 700px) {
        padding: 2em 0 1em 0;
    }

    .container {
        @include clearfix;

        @media (min-width: $medium_screen) {
            padding:  0 2em;
            position: relative;
        }
    }
}

.site-header__logo {
    margin: 0 auto 1em;

    @media (min-width: $medium_screen) {
        margin: 0;
    }

    a {
        color: $colour_black;
        letter-spacing: -1px;

        &:hover,
        &:active,
        &:focus {
            color: $colour_red;
        }
    }
}

.header-logo {
    display: inline-block;
    width: 270px;
    height: 0;
    padding-top: 50px;
    overflow: hidden;
    background: transparent url("/images/site-logo.png") 0 0 no-repeat;

    @media ($high_dpi_screen) {
        background-image: url("/images/site-logo@2.png");
        background-size: 270px 50px;
    }
}

.nav-logo {
    display: block;
    width: 180px;
    height: 0;
    padding-top: 34px;
    overflow: hidden;
    background: transparent url("/images/nav-logo.png") 0 0 no-repeat;

    @media ($high_dpi_screen) {
        background-image: url("/images/nav-logo@2.png");
        background-size: 180px 34px;
    }

    @media (min-width: $medium_screen) {
        margin: -0.2em;
    }
}

.site-header__navigation {
    text-align: left;
    margin: 0 -1em;

    @media (min-width: $medium_screen) {
        float: left;
        margin: -0.5em -0.8em 1em -0.8em;
    }

    @media (min-width: $large_screen) {
        position: absolute;
        left: 36px;
        top: 3px;
        float: none;
        text-align: center;
        margin: 0 -0.8em;
    }

    a {
        color: $colour_black;
        display: block;
        font-size: 14px;
        padding: 0.5em 1em;
        font-weight: bold;
        border-top: 1px solid $colour_borders;
        @include vendor-prefix(transition, background-color $animation-short);

        &:hover,
        &:active,
        &:focus {
            background-color: darken($colour_white, 5%);
        }

        @media (min-width: $medium_screen) {
            display: inline-block;
            font-size: 16px;
            margin: 0 0.25em;
            padding: 0.5em 0.75em;
            border: 0;
            border-radius: $border_radius;
        }
    }

    .fa-external-link-square {
        margin-left: 0.2em;
    }
}

.site-header__navigation--secondary {
    @media (min-width: $medium_screen) {
        float: right;
    }

    @media (min-width: $large_screen) {
        left: auto;
        right: 36px;
    }
}
