.site-nav,
.site-header {
    @include clearfix();

    color: $colour_black;
    padding: 1em 0;
    border-bottom: 1px solid $colour_borders;

    @media (min-width: $large_screen) and (min-height: 600px) {
        padding: 1.5em 0;
    }

    @media (min-width: $large_screen) and (min-height: 700px) {
        padding: 2em 0;
    }

    a {
        color: $colour_black;

        &:hover,
        &:active,
        &:focus {
            color: darken($colour_links, 10%);
        }
    }
}

// The nav is positioned absolutely on country pages, to let the
// .site-header show through as a big centred headline.
.site-nav--country {
    @media (min-width: $giant_screen) {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        border-bottom: none;
    }
}

.site-nav__logo {
    float: left;
    display: block;
    width: 156px;
    height: 0;
    padding-top: 30px;
    overflow: hidden;
    background: transparent url(/images/logo-small.png) 0 0 no-repeat;
    background-size: 156px 30px;

    @media ($high-dpi-screen) {
        background-image: url(/images/logo-small@2.png);
    }

    @media (all) {
        background-image: url(/images/logo-small.svg), none;
    }

    // On most pages, the logo goes big and centred on large screens.
    @media (min-width: $giant_screen) {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: (260px / 2 * -1);
        width: 260px;
        padding-top: 50px;

        background-image: url(/images/logo-large.png);
        background-size: 260px 50px;

        @media ($high-dpi-screen) {
            background-image: url(/images/logo-large@2.png);
        }

        @media (all) {
            background-image: url(/images/logo-large.svg), none;
        }
    }

    // On country pages, we want the logo to stay small and left-aligned,
    // to leave room for the country and legislature in the centre.
    .site-nav--country & {
        position: relative;
        top: 0;
        left: 0;
        z-index: 10; // above .site-header
        margin-left: 0;
        width: 156px;
        padding-top: 30px;

        background-image: url(/images/logo-small.png);
        background-size: 156px 30px;

        @media ($high-dpi-screen) {
            background-image: url(/images/logo-small@2.png);
        }

        @media (all) {
            background-image: url(/images/logo-small.svg), none;
        }

        @media (min-width: $giant_screen) {
            margin-top: 5px;
        }
    }
}

.site-nav__menu {
    display: none;
    list-style: none;
    padding: 1em 0 0 0;
    margin: 0;
    clear: both;

    // Show the menu when the "Menu" button has been pressed.
    &.site-nav__menu--active {
        display: block;
    }

    // Show the menu if javascript is disabled.
    .no-js & {
        display: block;
    }

    a {
        display: block;
        border-top: 1px solid $colour_borders;
        font-weight: bold;
        padding: 0.5em 0;
    }

    // Float the menu to the right on large screens.
    @media (min-width: $medium_screen) {
        display: block;
        float: right;
        clear: none;
        padding: 0;
        margin: 0 -1em;

        li {
            display: block;
            float: left;
            margin: 0 1em;
        }

        a {
            display: inline-block;
            border-top: 0;
            padding: 0;
        }
    }

    @media (min-width: $giant_screen) {
        position: relative;
        z-index: 10; // above .site-header

        a {
            line-height: 30px; // to match .site-nav__logo height
            padding: 5px 0;
        }
    }
}

.site-nav__menu-toggle {
    float: right;
    color: $colour_black;
    font-weight: bold;
    line-height: 30px; // to match .site-nav__logo height
    cursor: pointer;

    @media (min-width: $medium_screen) {
        display: none;
    }
}

.site-header {
    text-align: center;

    // Make sure text doesn't overlap the left- and right-floated .site-nav
    // elements, once .site-nav is absolutely positioned behind .site-header
    @media (min-width: $giant_screen) {
        padding-left: 14em;
        padding-right: 14em;
    }

    h2 {
        font-size: 2em; // down from 2.444em on large screens
        margin: 0;
    }

    h3 {
        margin: 0.4em 0 0 0;
        line-height: 1.1em;
    }
}
