$roboto: 'Roboto', 'Source Sans Pro', "Helvetica Neue", Arial, Helvetica, serif;

$body_typeface: $roboto;
$body_typeface_semibold: 500;
$body_typeface_bold: 700;
$heading_typeface: $roboto;
$heading_typeface_bold: 600;

$colour_blue: #00CBD9;
$colour_green: #01BFA9;
$colour_red: #F37D7D;
$colour_purple: #DC73E6;
$colour_white: #FFFFFF;
$colour_off_white: #F4F4F4;
$colour_lighter_grey: #E9E9E9;
$colour_light_grey: #D8D8D8;
$colour_grey: #CCCCCC;
$colour_mid_grey: #999999;
$colour_dark_grey: #666666;
$colour_black: #333333;

$colour_background: $colour_white;
$colour_links: $colour_red;
$colour_borders: $colour_lighter_grey;

$border_radius: 5px;

$size_font-base: 18px;

$giant_screen: 67.5em;
$large_screen: 56em;
$medium_screen: 44em;
$high_dpi_screen: '-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi';

$large_screen_max: $giant_screen - (1em * (1px / $size_font-base));
$medium_screen_max: $large_screen - (1em * (1px / $size_font-base));
$small_screen_max: $medium_screen - (1em * (1px / $size_font-base));

$animation-short: 0.2s ease-out;

$mysoc-footer-breakpoint-sm: $medium_screen;

// Giving the footer a dark theme is going to require us to override
// pretty much all of the default colour variables.
$mysoc-footer-background-color: #333;
$mysoc-footer-text-color: #acacac;
$mysoc-footer-site-name-text-color: #fff;

$mysoc-footer-link-text-color: #fff;
$mysoc-footer-link-hover-text-color: #fff;

$mysoc-footer-divider-color: #4b4b4b;

$mysoc-footer-donate-background-color: #434343;
$mysoc-footer-donate-text-color: #fff;
$mysoc-footer-donate-button-background-color: $colour_red;

$mysoc-footer-legal-text-color: #9a9a9a;

$mysoc-footer-image-path: '../../images/mysoc-footer-dark/';


